p {
    color: blueviolet;
    font-size: 26px;
}
h1{
    color: aqua;
}
#root{
    color: black;
    background-color: lightgreen;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 10px;
}
